.Header {
  background-color: var(--dark-2);
  padding: 0.8rem 1rem;
  border-radius: 0.75rem;
  position: relative;
  transition: opacity 200ms ease-in-out;
}

.Header--isEmpty {
  opacity: 0.5;
}

.Underline {
  border-bottom: 2px solid var(--dark-4);
  position: absolute;
  bottom: 0rem;
  left: 0.75rem;
  width: calc(100% - 1.5rem);
}

.Name {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75em;
}

.Content > * {
  margin: 1rem 0;
}

.Column--isDraggingOver {
  outline: 2px dashed var(--dark-2);
}
