.Header {
  background-color: var(--dark-2);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  position: relative;
  user-select: none;
}

.Underline {
  border-bottom: 2px solid var(--dark-4);
  position: absolute;
  bottom: 0rem;
  left: 1rem;
  width: calc(100% - 2em);
}

.Name {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75em;
}

.Content > * {
  margin: 1rem 0;
}

.List--isDraggingOver {
  outline: 2px dashed var(--dark-2);
}
