.Wrapper {
  margin-bottom: 1.5rem;
}

.Label {
  margin-bottom: 0.5rem;
  display: block;
}

.Error {
  color: var(--error-1);
  font-size: 0.85em;
  margin-top: 0.3rem;
}

.Input {
  background-color: transparent;
  border: 2px solid var(--dark-4);
  padding: 1em;
  border-radius: 0.5em;
  color: var(--light-1);
  width: 100%;
  font-size: 1em;
}

.Input[type="color"] {
  padding: 0;
  height: 54px;
  overflow: hidden;
}

.Input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.Input[type="color"]::-webkit-color-swatch {
  border: none;
}

.Input:focus {
  outline: none;
  border-color: var(--primary-1);
}

.Input:disabled {
  opacity: 0.25;
}

.Wrapper--hasError .Input {
  border-color: var(--error-1);
}
