.Wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.Inner {
  background-color: var(--dark-2);
  padding: 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  overflow: scroll;
}
